.areaAlCielo {
  display: inline-block;
  padding: 10px;
  background-color: #e3b6f91a;
  border-radius: 50px;
  position: fixed;
  bottom: 5vh;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.botonAlCielo {
  border: none;
  background-color: transparent;
  font-size: 10px;
}
