.portfolioSeccion {
  padding: 100px 0 0 0;
  width: 100%;
}

.separacion {
  overflow: hidden;
}

.productora {
  font-size: 64px;
  width: 100%;
  padding: 10px;
  white-space: nowrap;
  position: relative;
}

.primerRenglon {
  -webkit-text-stroke: 1px #e3b6f9;
  color: transparent;
}

.segundoRenglon {
  color: #e3b6f9;
}

.tercerRenglon {
  -webkit-text-stroke: 1px #e3b6f9;
  color: transparent;
}

.videoDrone {
  position: relative;
}

.textoDrone {
  position: absolute;
  -webkit-text-stroke: 0.5px black;
  bottom: 3.25rem;
  left: 2%;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  color: #fff;
  text-align: start;
}

.tituloUnoDrone {
  font-size: 30px;
  margin: 0.5rem;
}

.tituloDosDrone {
  font-size: 60px;
  margin: 0.5rem;
}

.nombreTabla {
  padding-top: 75px;
  font-size: 60px;
  padding-bottom: 125px;
}

.porcentajeTabla {
  font-size: 78px;
}

.textoTabla {
  font-size: 20px;
}

.fuentesTabla {
  font-size: 12px;
  color: #e3b6f9;
}

.tablaVideo {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 0 4vw;
}

.celdaTablaVideo {
  width: 23vw;
  padding: 0 4vw;
}
a {
  text-decoration: none;
  color: #fff;
}
a:hover {
  color: #e3b6f9;
}
@media screen and (max-width: 1000px) {
  .nombreTabla {
    font-size: 42px;
  }

  .porcentajeTabla {
    font-size: 55px;
  }

  .textoTabla {
    font-size: 16px;
  }

  .fuentesTabla {
    font-size: 10px;
  }

  .tituloUnoDrone {
    font-size: 20px;
  }

  .tituloDosDrone {
    font-size: 30px;
  }
}

@media screen and (max-width: 700px) {
  .tablaVideo {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 5vw;
  }

  .celdaTablaVideo {
    width: 45vw;
    padding: 0 5vw;
  }

  .tituloUnoDrone {
    font-size: 16px;
  }

  .tituloDosDrone {
    font-size: 22px;
  }
}
