.floatWpp {
  position: fixed;
  width: 60px;
  height: 60px;
  right: 2vh;
  top: 80vh;
  background-color: rgba(227, 182, 249, 0.1);
  border-radius: 50px;
  font-size: 2.5rem;
  z-index: 9999999999;
}
.floatWpp:hover {
  background-color: #e3b6f9;
  transition: all 1s ease;
}
