.logo1 {
    position: absolute;
    right: 10vw;
    margin-top: 20px;
}

.logo1 svg {
        margin: 0 auto;
        width: auto;
       height: 8vh;
}

.nosotrosBanner {
    font-size: 120px;
}

.nosotrosDescripcion {
    font-size: 32px;
    width: 830px;
    left: 10vh;
    position: relative;
    padding: 100px 0 0 0;
}

@media screen and (max-width:900px) {
    .nosotrosDescripcion {
        font-size: 20px;
        width: 600px;
    }

    .nosotrosBanner {
        font-size: 60px;
    }

    .logo1 svg {
       height: 6vh;
}
}