.imgNosotros {
    width: 30vw;
    border-radius: 15vw;
    margin-left: 60vw;
    margin-top: -150px;
}

.nosotrosBanner {
    font-size: 120px;
}

.nosotrosDescripcion {
    font-size: 32px;
    width: 63vw;
    left: 7vh;
    position: relative;
    padding: 50px 0 0 0;
}

@media screen and (max-width:900px) {
    .nosotrosDescripcion {
        font-size: 20px;
        left: 5vh;
    }

    .nosotrosBanner {
        font-size: 60px;
    }
}

@media screen and (max-width:550px) {
    .nosotrosDescripcion {
        width: 90vw;
        left: 2vh;
    }

    .nosotrosBanner {
        font-size: 42px;
    }

.imgNosotros {
    width: 60vw;
    border-radius: 30vw;
    margin-left: 30vw;
    margin-top: 0;
}
}