.portada {
    width: 100%;
}

.seccionNoTop {
    padding-bottom: 100px;
    position: relative;
    top: 10vh;
}

.areaVideo {
    position: relative;
}

.areaPlayPause {
    width: 20vw;
    height: 20vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgb(0,0,0,0.5);
    opacity: 0;
    border-radius: 10px;
    transition: 1s ease-in-out;
}

.botonPlayPause {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border: none;
    background-color: transparent;
    color: white;
    font-size: 70px;
}

.areaPlayPause:hover {
    opacity: 1;
    cursor: pointer;
}

.areaVolumen {
    width: 10vw;
    height: 10vw;
    position: absolute;
    bottom: 5vw;
    left: 5vw;
    background-color: rgb(0,0,0,0.5);
    border-radius: 10px;
}

.botonVolumen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border: none;
    background-color: transparent;
    color: white;
    font-size: 15px;
}