.portada {
    width: 100%;
}

.seccionNoTop {
    padding-bottom: 100px;
    position: relative;
    top: 10vh;
}

.areaPlayPause {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.botonPlayPause {
    opacity: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgb(0,0,0,0.5);
    border: none;
    color: white;
    font-size: 100px;
    padding: 80px 100px;
    border-radius: 10px;
    transition: 1s ease-in-out;
}

.botonPlayPause:hover {
    opacity: 1;
    cursor: pointer;
}

.areaVolumen {
    width: 10%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.botonVolumen {
    position: absolute;
    bottom: 20%;
    left: 20%;
    transform: translate(0, -50%);
    text-align: center;
    background-color: rgb(0,0,0,0.5);
    border: none;
    color: white;
    font-size: 15px;
    padding: 20px 20px;
    border-radius: 10px;
    transition: 1s ease-in-out;
}