.portada {
  width: 100%;
}

.seccionNoTop {
  padding-bottom: 100px;
  position: relative;
  top: 10vh;
}

.areaVideo {
  position: relative;
  width: 100vw;
  height: 90vh;
  background-color: red;
}

.react-player {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-color: blue;
  }

.videoR {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.areaPlayPause {
  width: 60vw;
  height: 25vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.botonPlayPause {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  border: none;
  background-color: transparent;
  color: white;
  font-size: 30px;
}

.areaPlayPause:hover .areaButton {
  opacity: 1;
  cursor: pointer;
}

.areaButton {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 10vh;
  height: 10vh;
  opacity: 0;
  border-radius: 70px;
  transition: 1s ease-in-out;
  background-color: rgba(255, 255, 255, 0.2);
}
.areaVolumen {
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 5vw;
  left: 5vw;
  background-color: rgb(0, 0, 0, 0.5);
  border-radius: 10px;
}

.botonVolumen {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  border: none;
  background-color: transparent;
  color: white;
  font-size: 15px;
}

.barras {
  position: relative;
  height: 40px;
  width: 40px;
}

.barraUno {
  position: absolute;
  bottom: 0;
  left: 3px;
  height: 35px;
  width: 4px;
  border-radius: 3px;
}

.barraDos {
  position: absolute;
  bottom: 0;
  left: 13px;
  height: 21px;
  width: 4px;
  border-radius: 3px;
}

.barraTres {
  position: absolute;
  bottom: 0;
  left: 23px;
  height: 29px;
  width: 4px;
  border-radius: 3px;
}

.barraCuatro {
  position: absolute;
  bottom: 0;
  left: 33px;
  height: 13px;
  width: 4px;
  border-radius: 3px;
}

.prendida {
  background-color: #e3b6f9;
}

.apagada {
  background-color: #6d7280;
}
