.contactTituloUno {
  font-size: 24px;
  color: #e3b6f9;
  padding: 20px;
}

.contactTituloDos {
  font-size: 148px;
  padding: 20px;
}

.contactMail {
  font-size: 24px;
  color: #e3b6f9;
  cursor: pointer;
  padding: 20px;
}
.formAndContact {
  display: flex;
  justify-content: space-around;
  margin-top: 8rem;
}
.contacto {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.container {
  display: grid;

  grid-template-columns: 1.1fr 1.2fr 1.3fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-row-gap: 10000px;
  gap: 0px 0px;
  grid-template-areas:
    "Name Name Name Name"
    "Email Email Phone Phone"
    "Msg Msg Msg Button";
}
.Name {
  grid-area: Name;
}
.Email {
  grid-area: Email;
}
.Phone {
  grid-area: Phone;
}
.Msg {
  grid-area: Msg;
}
.Button {
  grid-area: Button;
}

li {
  list-style: none;
}
.contForm {
  font-size: 40px;
  color: #e3b6f9;
}

input {
  margin: 10px;
  width: 100%;
  padding: 5px;
  border-radius: 91px;
  height: 40px;
  background-color: rgba(227, 182, 249, 0.1);
  color: rgba(227, 182, 249, 0.4);
}

::placeholder {
  color: rgba(227, 182, 249, 0.4);
}
input:focus {
  color: rgba(227, 182, 249, 1);
  outline: none;
}
