.escribenos {
  z-index: 1;
}
.contactTituloUno {
  font-size: 24px;
  color: #e3b6f9;
  padding: 20px;
}

.contactTituloDos {
  font-size: 125px;
  padding: 20px;
}

.contactMail {
  font-size: 24px;
  color: #e3b6f9;
  cursor: pointer;
  padding: 20px;

  z-index: 1;
  position: relative;
}
.formAndContact {
  gap: 5rem;
  margin-top: 3.5rem;
  display: flex;
  justify-content: space-between;
  margin-left: 5.5rem;
  margin-right: 5rem;
}

.contacto {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.container {
  display: grid;
  grid-template-columns: 1.1fr 1.2fr 1.2fr 1.1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 0px 5px;
  grid-auto-flow: row;
  grid-template-areas:
    "Name Name Name Name"
    "Email Email Phone Phone"
    "Msg Msg Msg Msg"
    "Check Label . Button";
}

.Name {
  grid-area: Name;
}

.Email {
  grid-area: Email;
}

.Phone {
  grid-area: Phone;
}

.Msg {
  grid-area: Msg;
}

.Button {
  grid-area: Button;
}

.Check {
  grid-area: Check;
}

.Label {
  grid-area: Label;
}

li {
  list-style: none;
  z-index: 1;
}
.contForm {
  font-size: 40px;
  color: #e3b6f9;
}
.contacto a {
  z-index: 1;
  color: #e3b6f9;
  text-decoration: true;
  margin-bottom: 1rem;
}
.contacto a svg {
  margin-right: 0.5rem;
}
.Button {
  z-index: 1;
  margin-top: 0.5rem;
  width: 8rem;
  height: 3rem;
  background: #e3b6f9;
  border-color: transparent;
  border-radius: 80px;
  color: #af45f0;
  font-size: 20px;
  font-weight: 700;
}

input {
  width: 100%;
  border-color: transparent;
  padding: 10px;
  border-radius: 91px;
  height: 40px;
  background-color: rgba(227, 182, 249, 0.1);
  color: rgba(227, 182, 249, 0.4);
}
textarea {
  padding: 10px;
  border-color: transparent;
  width: 100%;
  height: 4rem;
  border-radius: 20px;
  background-color: rgba(227, 182, 249, 0.1);
  color: rgba(227, 182, 249, 0.4);
}

::placeholder {
  color: rgba(227, 182, 249, 0.4);
}
input:focus {
  color: rgba(227, 182, 249, 1);
  border-color: #e3b6f9;
  outline: none;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: "color 9999s ease-out, background-color 9999s ease-out";
  -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
  transition-delay: 9999s;
  -webkit-transition-delay: 9999s;
}
textarea:focus {
  color: rgba(227, 182, 249, 1);
  border-color: #e3b6f9;
  outline: none;
}
.contactMail:hover .mail {
  width: 8rem;
  height: 8rem;
  font-size: 20px;
  z-index: 0;
  opacity: 1;
  animation: 0.3s ease-out;
  transition: all 0.3s linear;
  cursor: none;
}
.contactMail:hover {
  cursor: none;
}
.mail {
  margin-left: 1rem;
  font-weight: 700;
  width: 0rem;
  font-size: 0px;
  height: 0rem;
  border-color: transparent;
  border-radius: 90px;
  color: #0e131f;
  background-color: #e3b6f9;
  z-index: 0;
  opacity: 0;

  position: fixed;
  animation: 0.3s ease-out;
  transition: all 0.3s linear;
}
@media (max-width: 763px) {
  .contactTituloDos {
    font-size: 90px;
    padding: 0px;
  }

  .contactTituloUno {
    font-size: 20px;
  }

  .contacto {
    align-items: center;
    flex-direction: column;
    width: 100%;
  }
  .formAndContact {
    flex-wrap: wrap;
    gap: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    justify-content: center;
  }
  .contactMail {
    font-size: 18px;
  }
}

@media screen and (max-width: 500px) {
  .contactTituloDos {
    font-size: 60px;
  }
}