.header {
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 1000;
  position: fixed;
  width: 100%;
}

.contenedorHeader {
  height: 100%;
  width: 100%;
  position: relative;
}