.navbar {
    width: 90%;
    margin: auto;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}

.navbar ul li a {
    text-decoration: none;
    color: #9CA3AF;
}

.navbar ul li::before {
    content: "";
    width: 0;
    height: 0;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #E3B6F9;
    position: absolute;
    bottom: 20px;
    transition: 0.3s ease-in-out;
}

.navbar ul li:hover::before {
    width: 8px;
    height: 8px;
}