.navbar {
    width: 100%;
    margin: auto;
    padding: 2vh 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.1);
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}

.navbar ul li a {
    text-decoration: none;
    color: #9CA3AF;
}

.navbar ul li::before {
    content: "";
    width:0;
    height:0;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #E3B6F9;
    position: absolute;
    bottom: 20px;
    transition: 0.3s ease-in-out;
}

.navbar ul li:hover::before {
    width:8px;
    height:8px;
}