.footer {
  width: 100%;
  height: 20vh;
  text-align: center;
  position: absolute;
  bottom: 0;
  z-index: 99999999999999;
}

.footerSection {
  border-top: solid 1px rgba(255, 255, 255, 0.2);
  display: flex;
  justify-content: space-between;
  margin-left: 10vh;
  margin-right: 10vh;
  padding: 2vh;
  font-size: 14px;
  font-weight: 24px;
}

.redes {
  display: flex;
  z-index: 1;
  justify-content: space-between;
}
.redes button {
  width: 3rem;
  height: 3rem;
  background-color: transparent;
  border-radius: 40px;
  border: 2px solid #e3b6f9;
}
.redes button svg {
  fill: #e3b6f9;
}
.redes button:hover {
  background-color: #e3b6f9;
}
.redes button:hover svg {
  fill: #111827;
}
.siguenos {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 2rem;
  margin-left: 5rem;
}
@media (max-width: 767px) {
  .footerSection {
    margin-left: 0vh;
    margin-right: 0vh;
    padding: 1.5rem;
  }
  #redes {
    justify-content: center;
  }
  .siguenos {
    margin-left: 0rem;
  }
}
