* {
  margin: 0;
  padding: 0;
}

#root {
  position: relative;
  min-height: 100%;
}

.App {
  text-align: center;
  background-color: #111827;
  font-family: Arial, Helvetica, sans-serif; /* No es exactamente esta, luego se cambia*/
  font-size: 15px;
  font-weight: 500;
  min-height: 100vh;
  color: white;
}
